Arpeggio==1.10.2
attrs==21.4.0
click==8.1.3
colorama==0.4.5
dill==0.3.4
Flask==2.2.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.3
grpcio==1.43.0
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql-connector-python==8.0.30
parver==0.3.1
protobuf==3.19.4
pulumi==3.26.1
pulumi-azure==4.41.1
PyYAML==6.0
semver==2.13.0
six==1.16.0
SQLAlchemy==1.4.40
Werkzeug==2.2.2
zipp==3.8.1
