div#gif_type label{
    margin-right: 3rem;
}
button#add_badge:active{
    font-weight: bold;
}
div#badges p{
    color: gray;
}
div#badges button{
    margin: 2.5px;
}

input#keywords{
    display: none;
}

.keyword-wrapper {
    margin-top: -30px;
    margin-left: 25px;
}
.keyword-wrapper p{
    margin-bottom: 5px;
}