{% extends "base.html" %}
{% block title %}Preview Images{% endblock%}
{% block navbar_options %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Add New
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_video') }}">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_video') }}">Image</a>
        </li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Preview
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_video_filenames') }}">Videos</a>
        </li>
        <li class="nav-item fw-bold">
            <a class="nav-link" href="{{ url_for('query_image_filenames') }}">Images</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_users') }}">Users</a>
</li>
<li class="nav-item">
    <a id="logout_menu_option" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Preview Images</h2>

<div id="image_preview_area">
    {% for img_filename in images %}
        <div class="img_wrapper float-start d-flex justify-content-center my-2 mx-2">
            <img src="{{ url_for('retrieve_image_original', path=img_filename) }}" alt="{{img_filename}}" height="200">
        </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="previewModalLabel">Image Details</h5>
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p><span class="fw-bold">Id:</span> <span id="image_id"></span></p>
            <p><span class="fw-bold">Filename: </span><span id="image_filename"></span></p>
        </div>
        <div class="modal-footer">
            <button id="remove_image_from_modal" type="button" class="btn btn-danger btn-sm">Remove</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    
{% endblock %}
