{% extends "base.html" %}
{% block title %}Search GIFs{% endblock %}
{% block content %}
<h2 class="my-5">Log In</h2>
<form class="form" id="login" action="#" method="post" enctype="multipart/form-data">
    <div class="row mt-5">
        <div class="col-2">
            <p>E-mail:</p>
        </div>
        <div class="col-3">
            <input type="email" class="form-control" name="username" id="username" placeholder="username" maxlength="30" required>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Password:</p>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" name="password" id="password" placeholder="password"  maxlength="50" required>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-5">
            <button class="btn btn-primary" type="submit" name="submit" id="submit">Login</button>
        </div>
    </div>
    
    
</form>
{% endblock %}