{% extends "base.html" %}
{% block title %}Add New Image{% endblock%}
{% block navbar_options %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Add New
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_video') }}">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ url_for('add_new_image') }}">Image</a>
        </li>
    </ul>
</li><li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Preview
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_video_filenames') }}">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_image_filenames') }}">Images</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_users') }}">Users</a>
</li>
<li class="nav-item">
    <a id="logout_menu_option" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Add New Image</h2>
<form class="form" id="new_image" action="#" method="post" enctype="multipart/form-data">

    <!--- File upload --->
    <div class="row my-5">
        <div class="col-5">
            <h5>Upload file</h5>
            <input class="form-control" type="file" name="Imagefile" id="Imagefile" accept=".jpg" required>
        </div>
    </div>

    <!--- Submit Button --->
    <div class="row my-5">
        <div class="col">
            <button class="btn btn-primary" name="submit" type="submit" id="submit">Submit</button>
        </div>
    </div>
    
</form>
{% endblock %}
