{% extends "base.html" %}
{% block title %}Add New Video{% endblock%}
{% block navbar_options %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Add New
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ url_for('add_new_video') }}">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_image') }}">Image</a>
        </li>
    </ul>
</li><li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Preview
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_video_filenames') }}">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_image_filenames') }}">Images</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_users') }}">Users</a>
</li>
<li class="nav-item">
    <a id="logout_menu_option" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Add New Video</h2>
<form class="form" id="new_gif" action="#" method="post" enctype="multipart/form-data">

    <!-- GIF metadata selection -->
    <div class="row my-5">
        <div class="col-12">
            <h5>Provide metadata</h5> 
            <div class="row">
                <div class="col-4 offset-5">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" name="new_language_toggle" id="new_language_toggle" />
                        <label class="form-check-label" for="new_language_toggle">New Language</label>
                      </div>
                </div>
            </div>

            <div class="row my-1">
                <div class="col-2">
                    <p>Sign Language:</p>
                </div>
                <div class="col-3">
                    <select id="sign_languages" name="sign_languages" class="form-select">
                        {% for l in languages %}
                                <option value="{{l[0]}}">{{l[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    <input type="text" name="new_language" id="new_language"  class="form-control" placeholder="Enter New Sign Language" disabled>
                </div>
            </div>
            <div class="row mt-2 mb-1">
                <div class="col-2">
                    <p>Signer Race:</p>
                </div>
                <div class="col-3">
                    <select name="signer_race" class="form-select">
                        {% for r in races %}
                            <option value="{{r[0]}}">{{r[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            
        </div>
    </div>

    <!--- File upload --->
    <div class="row my-5">
        <div class="col-5">
            <h5>Upload file</h5>
            <input class="form-control" type="file" name="GIFfile" id="GIFfile" accept=".mp4"  required>
        </div>
    </div>


    <!-- Keywords Section -->
    <div class="row my-5">
        <div class="col">
           
            <div class="row">
                <div class="col-5">
                    <h5>Add Keywords</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <input type="text" class="form-control" name="new_keyword" id="new_keyword" placeholder="New keyword" required>
                    <!--- Submit Button --->
                    <button tabindex="1" class="btn btn-primary my-5" name="submit" type="submit" id="submit">Submit</button>
                </div>
                <div class="col-1">
                    <button tabindex="0" type="button" id="add_badge" class="btn btn-secondary">Add</button>
                </div>
                <div class="col-6">
                    <div class="row keyword-wrapper">
                        <p class="text-decoration-underline">Keywords:</p>
                        <div id="badges">
                           <p >No keywords yet</p>
                        </div>
                        <input type="text" class="form-control" name="keywords" id="keywords" readonly>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
</form>

{% endblock %}
