{% extends "base.html" %}
{% block title %}Add New GIF{% endblock%}
{% block content %}
<h2 class="my-5">GIF Details</h2>
<form class="form" id="data" action="#" method="post" enctype="multipart/form-data">

    <!-- GIF type selection -->
    <div class="row my-5" id="gif_type">
        <div class="col">
            <h5>Select GIF Type:</h5>
            <input type="radio" name="gif_type" id="head_gif" value="head">
            <label class="form-label" for="head_gif">Head</label>
            <input type="radio" name="gif_type" id="toso_gif" value="torso">
            <label class="form-label" for="torso_gif">Torso</label>
            <input type="radio" name="gif_type" id="fullbody_gif" value="fullbody">
            <label class="form-label" for="fullbody_gif">Full body</label>
        </div>
    </div>

    <!--- File upload --->
    <div class="row my-5">
        <div class="col-4">
            <h5>Upload GIF file:</h5>
            <input class="form-control" type="file" name="GIFfile" id="GIFfile" accept=".gif" required>
        </div>
    </div>


    <div class="row my-5">
        <div class="col">
           
            <div class="row">
                <div class="col">
                    <h5>Add Keywords</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" name="new_keyword" id="new_keyword" placeholder="New keyword" required>
                </div>
                <div class="col-4">
                    <button type="button" id="add_badge" class="btn btn-secondary">Add</button>
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-5">
                    <div id="badges"></div>
                    <input type="text" class="form-control" name="keywords" id="keywords" readonly>
                </div>    
            </div>
            

            
        </div>
    </div>
    

    
    <!--- Submit Button --->
    <div class="row my-4">
        <div class="col">
            <button class="btn btn-primary" name="submit" type="submit" id="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
