{% extends "base.html" %}
{% block title %}Query GIFs{% endblock%}
{% block navbar_options %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('add_new') }}">Add New</a>
</li>
<li class="nav-item">
    <a class="nav-link fw-bold" href="{{ url_for('get_urls_for') }}">Query</a>
</li>
<li class="nav-item">
    <a id="logout_menu_option" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Query Details</h2>
<form class="form" id="query_gifs" action="#" method="post" enctype="multipart/form-data">

    <div class="row my-5">
        <div class="col-6">
            <!-- GIF type selection -->
            <div class="row" id="gif_type">
                <div class="col">
                    <h5>GIF type</h5>
                    <input type="radio" name="gif_type" id="head_gif" value="head" checked>
                    <label class="form-label" for="head_gif">Head</label>
                    <input type="radio" name="gif_type" id="torso_gif" value="torso">
                    <label class="form-label" for="torso_gif">Torso</label>
                </div>
            </div>


            <!-- GIF metadata selection -->
            <div class="row my-5">
                <h5>GIF Metadata</h5>
                <div class="col-4">
                    <p>Sign Language:</p>
                </div>
                <div class="col-8">
                    <select name="sign_languages" id="sing_languages" class="form-select">
                        {% for l in languages %}
                                <option value="{{l[0]}}">{{l[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
            </div>


            <!-- Keywords Section -->
            <div class="row">
                <div class="col">
                    <h5>Keywords</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="query_keywords" id="query_keywords" placeholder="Keywords" required>
                    <!--- Submit Button --->
                    <button tabindex="0" class="btn btn-primary my-5" name="submit" type="submit" id="submit">Submit</button>
                </div>
            </div>         

        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="overflow-scroll d-flex justify-content-start" id="gif_preview_area">
            </div>
        </div>
    </div>

    
</form>
{% endblock %}
