{% extends "base.html" %}
{% block title %}Preview Videos{% endblock%}
{% block navbar_options %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Add New
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_video') }}">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_new_image') }}">Image</a>
        </li>
    </ul>
</li><li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Preview
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <li class="nav-item fw-bold">
            <a class="nav-link" href="{{ url_for('query_video_filenames') }}">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query_image_filenames') }}">Images</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('manage_users') }}">Users</a>
</li>
<li class="nav-item">
    <a id="logout_menu_option" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Preview Videos</h2>
<form class="form" id="query_gifs" action="#" method="post" enctype="multipart/form-data">

    <div class="row my-5">
        <div class="col-6">
            
            <!-- GIF metadata selection -->
            <div class="row my-5">
                <h5>GIF Metadata</h5>
                <div class="col-4">
                    <p>Sign Language:</p>
                </div>
                <div class="col-8">
                    <select name="sign_languages" id="sing_languages" class="form-select">
                        {% for l in languages %}
                                <option value="{{l[0]}}">{{l[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
            </div>


            <!-- Keywords Section -->
            <div class="row">
                <div class="col">
                    <h5>Keywords</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="query_keywords" id="query_keywords" placeholder="Keywords" required>
                    <!--- Submit Button --->
                    <button tabindex="0" class="btn btn-primary my-5" name="submit" type="submit" id="submit">Submit</button>
                </div>
            </div>         

        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="overflow-scroll d-flex justify-content-start" id="gif_preview_area">
            </div>
        </div>
    </div>

    
</form>
{% endblock %}
