{% extends "base.html" %}
{% block title %}Search GIFs{% endblock %}
{% block navbar_options %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link fw-bold" href="{{ url_for('register_user') }}">Register</a>
</li>
{% endblock %}
{% block content %}
<h2 class="my-5">Registration Request</h2>
<form class="form" id="register" action="#" method="post" enctype="multipart/form-data">
    <div class="row mt-5">
        <div class="col-2">
            <p>E-mail:</p>
        </div>
        <div class="col-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Password:</p>
        </div>
        <div class="col-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="password"  maxlength="50" required>
            <input class="form-label my-2 mx-2" id="toggle_password" type="checkbox" >Show Password            
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-5">
            <button class="btn btn-primary" type="submit" name="submit" id="submit">Submit</button>
        </div>
    </div>
    
    
</form>
{% endblock %}